**/obj
*_bin
!aa_bin #aa_bin又会被包含----感叹号
*.o
*.a
*.so
*.lo
*.la
*.al
*.log
*.swp
*.img
*.tar
*.zip
tags
*~
**/.cproject
**/.project
**/.settings
**/.vscode
**/node_modules
_decoder/
serialCtrl_*/
file_dec/
lib/
test/
connet/
include/
rsync/
zlog/output
httpd/htdocs/js/
httpd/htdocs/test.html


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.mvn
target/
**/*.jar
out/
*.class
